@model NotesContacts.Web.Models.Contact
@{
    ViewData["Title"] = "Create Contact";
}
<h1>Create Contact</h1>
<form asp-action="Create" method="post">
    <partial name="_Form" />
    <button class="btn btn-primary" type="submit">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
